.login-bg, .signup-bg{
  background-image: url(../images/login-bg-r.png);
  background-size:cover;
  /* width: 1920px; */
  height: 1080px;
  background-repeat: no-repeat;
  background-position: right;
}

.form-card{
  border-radius:10px ;
}

/* .login-intro{
  height: max-content;
}

.login-card{
  height: max-content;
} */