:root {
  --login-theme: #566bfc;
  --homePage-color: #4c48e3;
  --outline-color: #52adff;
  --login-h: #3d3d3d;
  --login-p: #bbb9b9;
  --text-muted: #bdbdbd;
  --card-bg: #ffffff;
  --btn-bg: #f6f6f6;
  --search-bar: #fafafa;
  --main-page-bg: #f4f4f4;
  --main-black: #000000;
  --postBtn-text: #d1dffa;
  --red-btn: #ff1662;
  --online-icon:#3cff66;
  --online-status: #48e371;
  --offline-status:#c8c8c8;
  --chat-color: #707070;
  --collab-users-bg:#f7f7f7;
  --likes-theme: #d1dffa;
  --chat-time: #dcd9d9;
  --font55: 55px;
  --font41: 41px;
  --font32: 32px;
  --font26: 26px;
  --font25: 25px;
  --font24: 24px;
  --font23: 23px;
  --font22: 22px;
  --font19: 19px;
  --font17: 17px;
  --font16: 16px;
  --font15: 15px;
  --font14: 14px;
  --font13: 13px;
  --font12: 12px;
  --font9: 9px;
  --font8: 8px;
}

@font-face {
  font-family: gontserrat-bold;
  src: url("../src/assets/fonts/Gontserrat-SemiBold.ttf");
}

@font-face {
  font-family: gontserrat;
  src: url("../src/assets/fonts/Gontserrat-Regular.ttf");
}

body{
  letter-spacing: 0.5px;
}

body a{
  text-decoration: none;
}

.hs-mt-40{
  margin-top: 40px;
}

.hs-mt-15{
  margin-top: 15px;
}

.hs-mt-10px{
  margin-top: 10px;
}

.hs-theme-26{
  color:var(--homePage-color);
  font-size:var(--font26);
  font-family: gontserrat-bold;
  padding: 0px;
}

.hs-theme-32{
  color:var(--homePage-color);
  font-size:var(--font32);
  font-family: gontserrat-bold;
  padding: 0px;
}

.hs-theme-chat{
  font-family: gontserrat;
  font-size: 17px;
  color: var(--chat-color);
  padding: 0px;
}

.login-main .login-bg .login-page{
  margin: 0 20px;
}

.login-main .login-bg .login-page .login-intro .intro-h {
  font-size: var(--font55);
  font-family: gontserrat-bold;
  color: var(--login-h);
}

.login-main .login-bg .login-page .login-intro .intro-p {
  font-size: var(--font17);
  font-family: gontserrat;
  color: var(--login-p);
}

.form-card{
  padding: 40px 36px 30px 36px;
  background-color: var(--card-bg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);}

.all-cards .login-card{
  margin-top: -35px;
}

.all-cards .signup-card{
  margin-top: -25px;
}

.all-cards .forgot-card{
  width: 674px;
  height: 408px;
  margin: 250px auto;
}

.all-cards .forgot2-card{
  width: 674px;
  height: 628px;
  margin: 250px auto;
}

.all-cards .reset-card{
  width: 674px;
  height: 732px;
  margin: 250px auto;
}

.all-cards .completeProf-card{
  width: 674px;
  height: 788px;
  margin: 250px auto;
}

.all-cards .form-card .card-head {
  color: var(--login-theme);
  font-family: gontserrat-bold;
  font-size: var(--font41);
}

/* .all-cards .form-card .input-box{
  margin-top: 25px;
} */

.all-cards .form-card .form-input {
  border: 1px solid var(--outline-color);
  padding: 18px;
  height: 64px;
  margin-top: 25px;
}

.all-cards .form-card .form-input::placeholder {
  padding-left: 15px;
  font-family: gontserrat;
  font-size: var(--font15);
  color: var(--text-muted);
}

.all-cards .form-card .check-box{
  margin-top: 25px;
}

.all-cards .form-card .check-box .input-checkbox{
  border: 2px solid var(--outline-color);
}

.all-cards .form-card .rem-me {
  padding-left: 15px;
  font-family: gontserrat;
  font-size: var(--font15);
  color: var(--text-muted);
}

.all-cards .form-card .forgotPass{
  font-family: gontserrat;
  font-size: var(--font15);
  color: var(--outline-color);
  text-decoration: none;
}

.all-cards .form-card .login-btn {
  background-color: var(--login-theme);
  font-family: gontserrat;
  font-size: var(--font19);
  height: 54px;
  margin-top: 20px;
}

.all-cards .form-card .third-party{
  flex-direction: column;
  margin: 30px 0px 5px 0px;
}


.all-cards .form-card .third-party p{
  position: relative;
  text-align: center;
  top: -25px;
  background-color: var(--card-bg);
  margin: 0 auto;
  padding: 0px 35px;
  color: var(--text-muted);
  font-family: gontserrat ;
  font-size: var(--font15);
}

.all-cards .form-card .third-party hr{
  color: var(--text-muted);
}

.all-cards .form-card .card-icons{
  margin-top: 8px;
}

.all-cards .form-card .card-icons .google{
  margin: 0px -85px;
}

.all-cards .form-card .not-member{
  margin-top: 35px;
  font-family: gontserrat ;
  font-size: var(--font15);
  color: var(--text-muted);
}

.all-cards .form-card .not-member a{
  margin-left: 5px;
  text-decoration: none;
  font-family: gontserrat-bold ;
  font-size: var(--font15);
  color: #ff1662;
}

.login-main .forgotPass-navbar{
  height: 150px;
  padding: 20px 0px;
}

.login-main .forgotPass-navbar .forgot-back span{
  margin-left: 15px;
  font-family: gontserrat ;
  font-size: var(--font22) ;
  color: var(--main-black);
}

.all-cards .form-card .card-head .btn-bg{
  background-color: var(--btn-bg);
  border-radius: 10px;
  padding: 5px 22px 10px;
}

.all-cards .form-card .card-head span:nth-child(2){
  margin-left: 15px;
}

.all-cards .form-card .forgotUser{
  margin-top: 60px;
}

.all-cards .form-card .forgotUser .forgotUser-info{
  margin-left: 25px;
  margin-top: 20px;
}

.all-cards .form-card .forgotUser .forgotUser-info .counter-block{
  margin-left: -40px;
}

.all-cards .form-card .forgotUser .img-counter{
  position: relative;
  background-color: var(--login-theme);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 40px;
  color: #ffffff;
  font-family: gontserrat ;
  font-size: var(--font25);
  text-align: center;
}

.all-cards .form-card .forgotUser .forgotUser-info .likes{
  border-right: 1px solid grey;
}

.all-cards .form-card .forgotUser .forgotUser-info h4{
  font-family: gontserrat-bold ;
  font-size: var(--font24) ;
  color: var(--main-black);
}

.all-cards .form-card .forgotUser .forgotUser-info p{
  font-family: gontserrat;
  font-size: var(--font14);
  color: var(--text-muted);
}

.all-cards .input-code .form-input{
  background-color: var(--btn-bg) ;
  border: none;
  width: 67px;
  height: 82px;
}

.all-cards .form-card .tab-btns{
  margin-top: 30px;
}

.all-cards .form-card .tab-btns .tab-btn{
  background-color: var(--card-bg);
  border: none;
  border-bottom: 2px solid var(--login-theme);
}

.all-cards .completeProf-card .cpform-input{
  height: 52px;
  border: 1px solid var(--outline-color);
  padding: 18px;

}

.homepage .home-navbar{
  margin-top: 48px;
  align-items: center;
}

.homepage .home-navbar .burger-icon{
  text-align: center;
  padding-right: 50px;
}

.homepage .home-navbar .bell-icon{
  text-align: center;
}

.homepage .home-navbar .navbar-profile, 
  .homepage .home-navbar .navbar-profile img{
   width: 55px;
   height: 55px;
}

.homepage .home-navbar .home-search .search-bar{
  background-color: var(--search-bar);
  border: none;
  border-radius: 10px 10px 10px 10px;
  height: 55px;
}

.homepage .main-content .left-sidebar{
  text-align: center;
  margin-top: 15px;
  width: 122px;
  padding: 30px;
}

.homepage .main-content .sidebar-icon span{
  background-color:var(--search-bar);
  border-radius: 10px;
  padding: 15px 18px 18px; 
}

.homepage .home-navbar .search-icon{
  background-color: var(--search-bar);
  border: none;
  height: 50px;
  position: relative;
  right: 51px;
  top: 2px;
}

.homepage .home-navbar .search-icon:hover{
  background-color: transparent;
}

.homepage .main-content .content-bg{
  background-color: var(--main-page-bg);
  padding: 35px 25px 0px 25px;
  margin-top: 20px;
}

.homepage .main-content .content{
  margin: 4px 0px 0px 8px;
}

.homepage .main-content .content-bg .new-post{
  background-color: var(--card-bg);
  padding: 30px;
  border-radius: 10px;
}

.homepage .content .new-post .new-post-img,
.homepage .content .new-post .new-post-img img{
  height: 90px;
  width: 90px;
  padding: 0px;
  border-radius: 50%;
}

.homepage .content .new-post .new-post-btns{
  text-align: right;
}

.homepage .main-content .post-input{
  height: 73px;
  margin-left: 15px;
  border-radius: 10px;
}

.homepage .main-content .post-input::placeholder{
  padding: 5px;
  color: var(--text-muted);
}

.main-content .content-bg .new-post-btns .new-post-btn{
  background-color: var(--login-theme);
  border: none;
  margin-right: 10px;
  height: 51px;
}

.main-content .content-bg .new-post-btns span{
  margin-left: 5px;
  font-family: gontserrat;
  font-size: var(--font19);
  color: var(--postBtn-text);
}

.main-content .content-bg .post-header{
  margin: 40px 0px 0px 0px; 
}

.main-content .content-bg .post-header span{
  margin: 0px 10px 0px 10px
}


.homepage .main-content .content .posts{
  background-color: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.homepage .main-content .content .posts .post-footer{
 margin-top: 25px; 
}

.homepage .main-content .content .posts .post-footer .post-likes span{
  margin-left: 10px;
  font-size:var(--font23) ;
  color: var(--likes-theme);
}

.homepage .main-content .content .posts .post-footer .tags a{
  color: var(--likes-theme);
}

.homepage .main-content .activities .activities-card{
  background-color: var(--card-bg);
  padding: 30px;
  border-radius: 10px;
  margin-right: 10px;
}

.homepage .main-content .activities .activities-card .req-img,
.homepage .main-content .activities .activities-card .req-img img{
  height: 56px;
  width: 56px;
}

.homepage .main-content .activities .activities-card .requests .counter{
  position: relative;
  background-color: var(--login-theme);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 20%;
  color: #ffffff;
  font-family: gontserrat ;
  font-size: var(--font9);
  text-align: center;
}

.homepage .main-content .activities .location-card .location-user .counter{
  position: relative;
  background-color: var(--login-theme);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 25px;
  color: #ffffff;
  font-family: gontserrat ;
  font-size: var(--font9);
  text-align: center;
}

.activities .activities-card .requests .act-btns button{
  background-color: var(--login-theme);
  margin: 5px;
  height: 31px;
  border: none;
  font-family: gontserrat;
  font-size: var(--font12);
  color: var(--card-bg);
}

.activities .activities-card .requests .act-btns button:nth-child(2){
  background-color: var(--red-btn);
  margin: 5px;
  height: 31px;
  border: none;
  font-family: gontserrat;
  font-size: var(--font12);
  color: var(--card-bg);
}

.homepage .main-content .right-sidebar{
  width: 136px;
}


.homepage .main-content .right-sidebar .sidebar-users,
.homepage .main-content .right-sidebar .sidebar-users img{
  height: 82px;
  width: 82px;
  border-radius: 50%;
}
.homepage .main-content .right-sidebar .sidebar-users .online-icon{
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color:var(--online-icon) ;
  position: relative;
  left: 55px;
  bottom: 25px;
}

.homepage .main-content .activities .location-card{
  border-radius: 15px;
  background-color: var(--card-bg);
  padding-bottom: 15px;
  margin-top: 15px;
}

.homepage .main-content .activities .location-card .location-img img{
  width: 100%;
}


.homepage .main-content .activities .location-card .location-user{
  position: relative;
  right: 35px;
  top: -35px;
}

.homepage .main-content .activities .location-card .card-footer{
  margin-left: 20px;
  margin-top: 15px;
}

.homepage .main-content .activities .location-card .card-footer .footer-h{
  margin-top: 10px;
}

.homepage .main-content .activities .location-card .card-footer .address span{
  margin-left: 15px;
  font-family: gontserrat;
  font-size: var(--font14);
  color: var(--offline-status);
}

.main-content .collab{
  background-color:var(--card-bg);
  padding: 15px 25px;
  border-radius: 15px 0px 0px 0px;
  margin-right: 5px;
}

.main-content .content-bg .collab-search .search-bar{
  background-color: var(--search-bar);
  border: none;
  border-radius: 10px 10px 10px 10px;
  margin-top: 20px;
  height: 46px;
}

/* .main-content .content-bg .collab-search .search-icon{
  position: relative;
  top: 5px;
  left: 5px;
} */


.main-content .content-bg .collab-tabs a{
  text-align: center;
  border-bottom: 3px solid var(--homePage-color);
  margin-top: 20px;
  font-family: gontserrat;
}

.main-content .content-bg .collab-tabs a:nth-child(2){
  border-bottom: 2px solid var(--text-muted);
  color: var(--text-muted);
}

.main-content .content-bg .collab-newchat{
  text-align: center;
  align-items: center;
  margin-top: 10px;
  height: 68px;
  border: 2px dashed var(--homePage-color);
  background-color:#d1dffa;
  border-radius: 10px; 
  margin-top: 25px;
  margin-bottom: 15px;
}

.main-content .content-bg .collab-newchat p{
  color: #a9c7ff;
  font-family: gontserrat;
  font-size: var(--font19);
  
}

.main-content .content-bg .collab-users-info{
  background-color: var(--collab-users-bg);
  margin-top: 18px;
  border-radius: 12px;
  padding: 0px 15px;
}

.main-content .content-bg .collab-users .collab-user-image,
.main-content .content-bg .collab-users .collab-user-image img{
  height: 56px;
  width: 56px;
}

.main-content .content-bg .collab-users .collab-user-img .counter{
  position: relative;
  background-color: var(--login-theme);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 20px;
  color: #ffffff;
  font-family: gontserrat ;
  font-size: var(--font9);
  text-align: center;
}

.main-content .content-bg .collab-users .collab-user-name{
  margin-left: 10px;
}

.main-content .content-bg .collab-users .collab-username{
  font-family: gontserrat-bold;
  font-size:var(--font13);
  color: var(--homePage-color);
  margin: 10px 0px 5px 0px;
}

.main-content .content-bg .collab-users .collab-userinfo{
  font-family: gontserrat;
  font-size: var(--font9);
  color: var(--text-muted);
  padding-right: 46px;
}

.main-content .content-bg .collab-users .collab-user-online{
  font-family: gontserrat;
  font-size: var(--font8);
  color: var(--online-status);
  margin: 12px 8px;
}

.main-content .content-bg .collab-users .collab-user-offline{
  font-family: gontserrat;
  font-size: var(--font8);
  color:var(--offline-status);
  margin: 12px 8px;
}

.main-content .content-bg .collab-chat{
  background-color: var(--card-bg);
  padding: 10px 8px 0px 8px;
  border-radius: 0px 12px 0px 0px;
}

.main-content .content-bg .collab-chat .chat-header{
  margin-top: 25px;
}

.main-content .content-bg .collab-chat .header-user-info{
  margin-left: 10px;
  align-items: center;
}

.main-content .content-bg .collab-chat .header-user-info .header-img,
.main-content .content-bg .collab-chat .header-user-info .header-img img{
  height: 56px;
  width: 56px;
  margin-left: 12px;
}

.main-content .content-bg .collab-chat .header-user-info .header-name{
  font-family: gontserrat-bold;
  font-size:var(--font19);
  color:var(--homePage-color);
  margin-left: 25px;
}

.main-content .content-bg .collab-chat .header-icons{
  align-items: center;
  justify-content: end;
}

.main-content .content-bg .collab-chat .header-icons .icon{
  margin-right: 35px;

}

.main-content .content-bg .collab-chat .chat-box  .collab-user-pic,
.main-content .content-bg .collab-chat .chat-box .collab-chat-pic img{
  height: 82px;
  width: 82px;
  margin-left: 25px;
}

.main-content .content-bg .collab-chat .chat-box .chat-messages{
  margin-top: 30px;
}

.main-content .content-bg .collab-chat .chat-box .collab-chat-popup{
  margin-top: 15px;
  margin-left: 25px;
  background-color: var(--collab-users-bg);
  padding: 20px 20px 5px 20px;
  border-radius: 10px;
}

.main-content .content-bg .collab-chat .chat-box .my-message-popup{
  background-color: var(--login-theme);
  margin-top: 15px;
  margin-right: 25px;
  padding: 20px 20px 5px 20px;
  border-radius: 10px;
}

.main-content .content-bg .collab-chat .chat-box .chat-messages .counter{
  position: relative;
  background-color: var(--login-theme);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 20px;
  left: 25px;
  color: #ffffff;
  font-family: gontserrat ;
  font-size: var(--font9);
  text-align: center; 
}

.main-content .content-bg .collab-chat .chat-box .chat-messages .chat-msg{
  font-family: gontserrat;
  font-size: var(--font16);
  color: var(--chat-color);
}

.main-content .content-bg .collab-chat .chat-box .chat-messages .time-stamp{
  font-family: gontserrat;
  font-size: var(--font12);
  color:var(--chat-time);
}

.main-content .content-bg .collab-chat .chat-box .chat-messages .my-chat-msg{
  font-family: gontserrat;
  font-size: var(--font16);
  color: var(--card-bg);
}

.main-content .content-bg .collab-chat .chat-box .chat-messages .message-seen span{
  font-family: gontserrat;
  font-size: var(--font12);
  color: var(--card-bg);
  margin: 0px 10px;
}

.main-content .content-bg .collab-chat .chat-footer{
  background-color: var(--card-bg);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 15px;
}

.main-content .content-bg .collab-chat .chat-footer .search-bar{
  background-color: var(--search-bar);
  height: 63px;
  border: none;
  margin-left: 15px;
}

.main-content .content-bg .collab-chat .chat-footer .send-pic{
  position:relative;
  top: 50px;
  left: 32px;
}

.main-content .content-bg .collab-chat .chat-footer .footer-send{
  margin-top: 58px;
  text-align: center;
}

.main-content .content-bg .collab-chat .chat-footer .footer-send span{
  background-color:var(--search-bar);
  padding: 20px;
  border-radius: 12px;
}


